.back-img {
    background-image: url('../../../../assets/img/luna.jpg');    
    height: 80vh;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
}

.register-container {
    height:90vh;    
}

.border {
    border-radius: 35px;    
}